//-шаблон content
mixin content
  .content
    ul.content__list
      li.content__item(data-number="1")
        a.content__link(href="#") 
          img.content__img.content__img--logo(src="../img/block/content/fanatic-logo.jpg" alt="fanatic-logo")
          a.content__description(href="#") 
            .content__caption=product.name
      li.content__item(data-number="2")
        a.content__link(href="#") 
          img.content__img(src="../img/block/content/img1.jpg" alt="fanatic")
          a.content__description(href="#") 
            .content__caption=product.name
            .content__text=product.description1
      li.content__item(data-number="3")
        a.content__link(href="#") 
          img.content__img(src="../img/block/content/img2.jpg" alt="fanatic")
          a.content__description(href="#") 
            .content__caption=product.name
            .content__text=product.description2
      li.content__item(data-number="4")
        a.content__link(href="#") 
          img.content__img(src="../img/block/content/img3.jpg" alt="fanatic")
